@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="col-1 col-md-2">
        <div class="display-flex flex-row">
            <div class="display-flex flex-column justify-content-center h-100vh">
                <p class="text-decoration-line-before color-gray">Hello</p>
                <h1>I'M ANTON SAMOVICH</h1>
                <p class="fs-3">.NET Developer</p>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-center">
            <div>
                <img class="image-main" src="~/img/photos/personal-photo.jpg" />

            </div>
        </div>
    </div>
</div>
