@{
    ViewBag.Title = "Home";
}

<div class="row mh-100">
    <div class=col>
        <span>Hello</span>
        <h1>I'M ANTON SAMOVICH</h1>
        <span>.NET Developer</span>
    </div>
    <div class=col>
    </div>
</div>

