<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sam.NET - @ViewBag.Title</title>

    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body>
    <header>
        <nav>
            <div class="container">
                <div class="display-flex flex-row">
                    <div class="display-flex flex-row justify-content-space-between w-100">
                        <div>
                            <a href="#"><img src="~/img/logos/logo.svg" /></a>
                        </div>
                        <div>
                            <ul class="display-flex flex-row">
                                <li>
                                    <a class="mx-1 color-gray underline" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li>
                                    <a class="mx-1 color-gray underline" href="#">Link</a>
                                </li>
                                <li>
                                    <a class="mx-1 color-gray underline" href="#">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mx-1 vl"></div>
                    <div class="mx-1 phone-svg"> </div>
                    <span>+375 29 754 68 23</span>
                    @*<div class="mx-3"><p>+375 29 754 68 23</p> </div>*@
                </div>
            </div>
        </nav>

        <hr class="m-0 nav-hr" />
    </header>
    @RenderBody()

</body>

</html>
