* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	background-color: #0E1630;
	color: #808DAD;
}

a {
	text-decoration: none;
}

nav {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	white-space:nowrap;
}
	nav ul li {
		list-style-type: none;
	}

.nav-hr {
	height: 1px;
	background-color: #808DAD;
	border: none;
	opacity:0.4;
}

.text-hr{
	display:inline-block;
	width:25px;
}

.container {
	width: 100%;
	margin: 0 auto;
	position:relative;
}

.nav-link{

}

.display-flex {
	display: flex;
}

.flex-row {
	flex-flow: row;
}

.flex-column {
	flex-flow: column;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.align-items-center {
	align-items: center;
}

.w-100 {
	width: 100%;
}

.h-100{
	min-height:100%;
}

.color-gray {
	color: #808DAD;
}

.nav-link {
	color: #808DAD;
}

.mx-1 {
	margin-right: 1rem;
	margin-left: 1rem;
}

.vl {
	background-color: #808DAD;
	width: 2px;
	height: 20px;
}

.col-2, .col-1, .col-md-2{
	display:grid;
}

.col-2 {
	grid-template-columns: minmax(1fr, 1fr) minmax(1fr, 1fr);
}

.image-main {
	width: 450px;
	border-radius: 25px 0px 0px 25px;	
}


.text-decoration-line-before {
	font-size: 2rem;
	color: #eb4a4a
}

	.text-decoration-line-before::before {
		display: inline-block;
		content: "";
		border-top: .1rem solid;
		width: 1rem;
		margin-right: 1rem;
		transform: translateY(-0.5rem);
	}

@media (hover: hover) and (pointer: fine) {
	.underline:hover::before {
		left: 0;
		right: auto;
		width: 100%;
		color: red;
	}
}

.phone-svg {
	width: 15px;
	height: 15px;
	background-image: url("../img/icons/phone.svg");
	background-repeat: no-repeat;
}

h1 {
	color: white;
	font-size: 2rem;
}


@media screen and (min-width: 576px) {
	.container {
		width: 540px;
	}

	h1 {
		font-size: 3rem;
	}
}

@media screen and (min-width: 768px) {
	.col-md-2{
		grid-template-columns:1fr 1fr;
	}

	.container {
		width: 720px;
	}

	h1 {
		font-size: 4.5rem;
	}

	.underline {
		position: relative;
	}

		.underline::before {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 1px;
			background-color: #eb4a4a;
			color: red;
			transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
		}
}

@media screen and (min-width: 992px) {
	.container {
		width: 960px;
	}
	
	h1 {
		font-size: 5rem;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1140px;
	}

	h1 {
		font-size: 5.5rem;
	}
}

@media screen and (min-width: 1400px) {
	.container {
		width: 1320px;
	}
	
	h1 {
		font-size: 5.5rem;
	}
}
